<%= form_with scope: :task, url: tasks_path do |f| %>
  <div class="row align-items-center mb-5">
    <div class="col-xs-12 col-sm-7">
      <%= f.text_field :description, class: "form-control form-control-lg", placeholder: "Task Description" %>
    </div>
    <div class="col-xs-8 col-sm-3">
      <%= f.select :task_type, task_types, {}, {class: "form-control form-control-lg"} %>
    </div>
    <div class="col-xs-4 col-sm-2">
      <%= f.submit "Add", class: "btn btn-primary btn-large" %>
    </div>
  </div>
<% end %>
