<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Redo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <input id="search-text" type="text" class="mr-sm-2">
    <button id="search-button" type="button" class="btn btn-outline-success my-2 my-sm-m0" data-url="<%= tasks_path %>">Search</button>
  </div>
</nav>
