<div id="add">
  <%= render partial: "shared/add_task", object: @task, as: :task %>
</div>
<div id="tasks">
  <div class="card-deck">
    <%= render partial: "tasks/task", collection: @tasks, as: :task %>
  </div>
</div>
