<div id="header">
  <%= render "header" %>
</div>
<div class="container mt-6">
  <div class="row mb-1">
    <div class="col">
      <h2 class="text-center">Add New Task</h2>
    </div>
  </div>
  <div id="add">
    <%= render "add" %>
  </div>
  <div id="tasks">
    <%= render "shared/cards", id: "tasks-deck", tasks: @tasks %>
  </div>
</div>
