// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#add-form input[type="submit"] {
  width: 100%;
}

$cards-per-line: (
		xs: 1,
		sm: 2,
		md: 3,
		lg: 3,
		xl: 4
);

@each $name, $breakpoint in $grid-breakpoints {
		@media (min-width: $breakpoint) {
			.card-deck .card {
				flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
			}
		}
}

.border-white {
		border-color: white;
}
